<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>SkySoccer - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{surl("skysoccer:static/bootstrap.css")}}" type="text/css">
<script src="{{surl("skysoccer:static/jquery.js")}}"></script>
<script src="{{surl("skysoccer:static/bootstrap-tab.js")}}"></script>

<style>
    body {
            padding-top: 50px;
  }
</style>
<meta charset="utf-8">
</head>
{% if logged %}
    <div class="container">
        {% block menu %}{% endblock %}

        {% block options %} {% endblock %}
    </div>


{% else %}
    <div class="container">
        <p>Brak dostępu!</p>
    </div>
{% endif %}
</body>
</html>