{% extends "admin.html" %}

{% block title %}Panel administracyjny{% endblock %}

{% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html">SkySoccer - {{title}}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block options %}
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Informacje</a></li>
    <li><a href="#tab2" data-toggle="tab">Użytkownicy</a></li>
    <li><a href="#tab3" data-toggle="tab">Mecze</a></li>
    <li><a href="#tab4" data-toggle="tab">Inne</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>
        <legend>Podstawowe:</legend>
        <center>
          <div class="row-fluid">
            <div class="span2">Liczba graczy:</div>
            <div class="span2">{{players_count}}</div>
            <div class="span2">Liczba meczy:</div>
            <div class="span2">{{matches_count}}</div>
            <div class="span2">Liczba drużyn:</div>
            <div class="span2">10</div>
          </div>
        </center>
      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <legend>Usuń użytkownika:</legend>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Gracz</th>
                  <th>Login</th>
                  <th>Usuń</th>
                </tr>
              </thead>
        {% if players %}
          {% for player in players %}
              <tbody>
                <tr>
                  <td id="player_index">{{loop.index}}</td>
                  <td id="player_name">{{player.name}}</td>
                  <td>{{player.login}}</td>
                  <td>
                    <form class="form-search" method="POST">
                      <button class="btn btn-default btn-danger" type="submit" name="submit_delete" value="{{player.login}}" onclick="return confirm('Jestes pewien?')">X</button>
                    </form>
                  </td>
                </tr>
              </tbody>
          {% endfor %}
        {% endif %}
            </table>
      </p>     
    </div>
    <div class="tab-pane" id="tab3">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Data i godzina</th>
            <th>Wygrana drużyna</th>
            <th>Wynik</th>
            <th>Przegrana drużyna</th>
          </tr>
        </thead>
        {% if players %}
          {% for match in matches %}
          <tbody>
            <tr>
              <td id="match_index">{{loop.index}}</td>
              <td>{{match.date}}</td>
              <td id="player_name"><p>{{match.win_team[0].username}}</p> <p>{{match.win_team[1].username}}</p></td>
              <td id="match_score">{{match.score[0]}} : {{match.score[1]}}</td>
              <td id="player_name"><p>{{match.defeat_team[0].username}} <p>{{match.defeat_team[1].username}}</p></td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}
      </table>
    </div>
    <div class="tab-pane" id="tab4">
      <p>Howdy, I'm in Section 4.</p>
    </div>
  </div>
</div>
{% endblock %}