<html>
<head>
    <title>{{title}} - SkySoccer webpage.</title>
    
</head>
<body>
<h1>SkySoccer - {{title}}</h1>pyramid
<h2>Witaj |{{name}}| |{{surname}}|</h2>

<table border='1' width="800px">
    <tr>
        <td><b>Dodaj użytkownika</b></td>
        <td><b>Ustawianie meczy</b></td>
        <td><b>c</b></td>
    </tr>
    <tr>
        <td>
            <form name="input" method="post">
                Name: <input type="text" name="add_name"><br>
                Surname: <input type="text" name="add_surname"><br>
                <input type="submit" value="Submit" name="add_submit">
            </form>
            {{register_status}}
        </td>
        <td>B</td>
        <td>C</td>
    </tr>
    <tr>
        <td><b>Usun użytkownika</b></td>
        <td><b>Do wykorzystania</b></td>
        <td><b>Do wykorzystania</b></td>
    </tr>
    <tr>
        <td>
            {% if players %}
                {% for player in players %}
                    <form name="input" method="post">
                        {{player}}
                        <input type="submit" value="x" onclick="return confirm('pewien?')" name="{{player}}">
                    </form>
                {% endfor %}
            {% else %}
                Nie ma graczy
            {% endif %}
        </td>
        <td>cos</td>
        <td>cos</td>
    </tr>
</table>

</body>
</html>