<!doctype html>
<html>
<head>
<title>SkySoccer - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{surl("skysoccer:static/bootstrap.css")}}" type="text/css">
<script src="{{surl("skysoccer:static/jquery.js")}}"></script>
<script src="{{surl("skysoccer:static/bootstrap-tab.js")}}"></script>
<script>
    $('#tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
</script>
<style>
    body {
            padding-top: 60px;
  }
</style>
<meta charset="utf-8">
</head>
<body>
{% if logged %}
    <div class="container-fluid">
        {% block menu %}{% endblock %}

        {% block options %} {% endblock %}
    </div>


{% else %}
    <div class="container">
        <p>Brak dostępu!</p>
    </div>
{% endif %}
</body>
</html>