<!doctype html>
<html>
<head>
<title>SkySoccer - {{title}}</title>
<style>
  body {
            padding-top: 50px;
  }
</style>
<meta charset="utf-8">
<link rel="stylesheet" href="{{surl("skysoccer:static/bootstrap.css")}}" type="text/css" />
</head>
<body>
  {% if logged %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">SkySoccer - {{title}}</a>
      </div>
    </div>
  </div>
  
  <div class="container">
    
    <legend>Gracze:</legend>
    <table class="table">
      <thead>
        <tr>
          <th>
            <p>Drużyna 1
            <button id="close-button" class="btn btn-mini btn-success" onclick="addScoreTeam1()">GOOL!</button>
            <button id="close-button" class="btn btn-mini btn-danger" onclick="oddScoreTeam1()">-</button>
            </p>
          </th>
          <th>
            <p>Drużyna 2
            <button id="close-button" class="btn btn-mini btn-success" onclick="addScoreTeam2()">GOOL!</button>
            <button id="close-button" class="btn btn-mini btn-danger" onclick="oddScoreTeam2()">-</button>
            </p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{% for player in team1 %} <p>{{player}}</p> {% endfor %}</td>
          <td>{% for player in team2 %} <p>{{player}}</p> {% endfor %}</td>
        </tr>
      </tbody>
    </table>
    <legend>Mecz:</legend>
    <form class="form-search" method="POST">
    <center>
      <h1>
      <input class="input-mini" type="text" id="big_score_team1" name="big_score_team1" value="0"/> :  <input class="input-mini" type="text" id="big_score_team2" name="big_score_team2" value="0"/>
      </h1>
      <h3> 
        <input class="input-mini" type="text" id="score_team1" value="0"/> :  <input class="input-mini" type="text" id="score_team2" value="0"/>
      </h3>
    </center>
    
      <center><button class="btn btn-large btn-inverse" type="submit" name="submit_end_game" value="submitting">Zakończ mecz!</button></center>
    </form>
  </div> 
  

  
  {% else %}
  <div class="container">
        <p>Brak dostępu!</p>
  </div>
  {% endif %}
  <script>
    var team1Score = 0;
    var team2Score = 0;
    var bigTeam1Score = 0;
    var bigTeam2Score = 0;
    function addScoreTeam1() {
        team1Score++;
        if (team1Score == 15) {
          team1Score = 0;
          bigTeam1Score++;
        }
        document.getElementById('score_team1').value = team1Score;
        document.getElementById('big_score_team1').value = bigTeam1Score;
    }
    function oddScoreTeam1() {
        if(team1Score > 0) {team1Score--;}
        document.getElementById('score_team1').value = team1Score;
    }
    function addScoreTeam2() {
        team2Score++;
        if (team2Score == 15) {
          team2Score = 0;
          bigTeam2Score++;
        }
        document.getElementById('score_team2').value = team2Score;
        document.getElementById('big_score_team2').value = bigTeam2Score;
    }
    function oddScoreTeam2() {
        if(team2Score > 0) {team2Score--;}
        document.getElementById('score_team2').value = team2Score;
    }
  </script>
</body>
</html>