<!doctype html>
<html>
<head>
<title>SkySoccer - {{title}}</title>
<style>
  body {
    padding-top: 50px;
  }
  #score_team1_player1, #score_team1_player2, #score_team2_player1, #score_team2_player2 {
    color: green;
    font-size: 30px;
    height: 35px;
    width: 34px;

  }
  #own_team1_player1, #own_team1_player2, #own_team2_player1, #own_team2_player2 {
    color: red;
    font-size: 26px;
    height: 32px;
    width: 17px;
  }
  #big_score_team1, #big_score_team2 {
    font-size: 45px;
    height: 42px;
    width: 24px;
  }
  #score_team1, #score_team2 {
    font-size: 30px;
    height: 35px;
    width: 18px;
  }
  #space {
    margin-bottom: 50px;
  }
  b {
    font-size: 18px;
  }
</style>
<meta charset="utf-8">
<link rel="stylesheet" href="{{surl("skysoccer:static/bootstrap.css")}}" type="text/css" />

</head>
<body>
  {% if logged %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">SkySoccer - {{title}}</a>
          <button id="close-button" class="btn btn-medium btn-info" onclick="cancelLastAction()" type="button">COFNIJ</button>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <form class="form-search" method="POST">
    <legend>Gracze:</legend>
    <table class="table">
      <thead>
        <tr>
          <th>
            <p>Drużyna 1</p>
          </th>
          <th>
            <p>Drużyna 2</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div id="space">
            <p>
              <b>{{team1[0]}}</b>
              <button id="close-button" class="btn btn-large btn-success" onclick="addScoreTeam1Player1()" type="button">GOOL!</button>
              <input class="input-mini" type="text" id="score_team1_player1" value="0" name="score_team1_player1"/>
              <input class="input-mini" type="text" id="own_team1_player1" value="0" name="own_team1_player1"/>
              <button id="close-button" class="btn btn-large btn-warning" onclick="oddScoreTeam1Player1()" type="button">-</button>
            </p>
            </div>
            <hr>
            <p>
              <b>{{team1[1]}}</b>
              <button id="close-button" class="btn btn-large btn-success" onclick="addScoreTeam1Player2()" type="button">GOOL!</button>
              <input class="input-mini" type="text" id="score_team1_player2" value="0" name="score_team1_player2"/>
              <input class="input-mini" type="text" id="own_team1_player2" value="0" name="own_team1_player2"/>
              <button id="close-button" class="btn btn-large btn-warning" onclick="oddScoreTeam1Player2()" type="button">-</button>
            </p>
          </td>
          <td>
            <div id="space">
            <p>
              <b>{{team2[0]}}</b>
              <button id="close-button" class="btn btn-large btn-success" onclick="addScoreTeam2Player1()" type="button">GOOL!</button>
              <input class="input-mini" type="text" id="score_team2_player1" value="0" name="score_team2_player1"/>
              <input class="input-mini" type="text" id="own_team2_player1" value="0" name="own_team2_player1"/>
              <button id="close-button" class="btn btn-large btn-warning" onclick="oddScoreTeam2Player1()" type="button">-</button>
            </p>
            </div>
            <hr>
            <p>
              <b>{{team2[1]}}</b>
              <button id="close-button" class="btn btn-large btn-success" onclick="addScoreTeam2Player2()" type="button">GOOL!</button>
              <input class="input-mini" type="text" id="score_team2_player2" value="0" name="score_team2_player2"/>
              <input class="input-mini" type="text" id="own_team2_player2" value="0" name="own_team2_player2"/>
              <button id="close-button" class="btn btn-large btn-warning" onclick="oddScoreTeam2Player2()" type="button">-</button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <legend>Mecz:</legend>
    
    <center>
      <h1>
      <input class="input-mini" type="text" id="big_score_team1" name="big_score_team1" value="0"/> :  <input class="input-mini" type="text" id="big_score_team2" name="big_score_team2" value="0"/>
      </h1>
      <h3> 
        <input class="input-mini" type="text" id="score_team1" value="0"/> :  <input class="input-mini" type="text" id="score_team2" value="0"/>
      </h3>
    </center>
    
      <center><button class="btn btn-medium btn-inverse" type="submit" name="submit_end_game" value="submitting">Zakończ mecz!</button></center>
    </form>
  </div> 
  

  
  {% else %}
  <div class="container">
        <p>Brak dostępu!</p>
  </div>
  {% endif %}
  <script src="{{surl("skysoccer:static/jquery.js")}}"></script>
  <script>
    $(".btn-large").click( function () { 
      $(".btn-large").attr('disabled', 'disabled'); 
      setTimeout('enableBtn()', 1000);
    });
    var undo = true;
    var functionNumber;

    $(document).ready(function() {
      disableUndo();
    });

    function enableBtn(){
       $('.btn-large').removeAttr('disabled');
    }

    function cancelLastAction() {
      
      undo = false;   
      disableUndo();
      if (functionNumber == 1) {oddScoreTeam1Player1(); disableUndo();}
      else if (functionNumber == 2) {oddScoreTeam1Player2(); disableUndo();}
      else if (functionNumber == 3) {oddScoreTeam2Player1(); disableUndo();}
      else if (functionNumber == 4) {oddScoreTeam2Player2(); disableUndo();}
      else if (functionNumber == 5) {addScoreTeam1Player1(); disableUndo();}
      else if (functionNumber == 6) {addScoreTeam1Player2(); disableUndo();}
      else if (functionNumber == 7) {addScoreTeam2Player1(); disableUndo();}
      else if (functionNumber == 8) {addScoreTeam2Player2(); disableUndo();}
      else {functionNumber = 0;}
    }

    function disableUndo() {
      $(".btn-info").attr('disabled', 'disabled'); 
    }

    function enableUndo(nbr) {
      $(".btn-info").removeAttr('disabled');
      functionNumber = nbr;
      undo = true;
    }

    var team1Score = 0;
    var team1player1score = 0;
    var team1player1own = 0;
    var team1player2score = 0;
    var team1player2own = 0;

    var team2Score = 0;
    var team2player1score = 0;
    var team2player1own = 0;
    var team2player2score = 0
    var team2player2own = 0;

    var bigTeam1Score = 0;
    var bigTeam2Score = 0;

    var limit = {{number_games}};

    var tmpScore1 = 0;
    var tmpScore2 = 0;
    
    function oddScoreTeam1Player1() {
      if (undo) {
        team2Score++;
        team1player1own++;
        if(team2Score == limit) {
          getScores();
          team2Score = 0;
          team1Score = 0;
          bigTeam2Score++;
        }
      }
      else {
        if (team2Score == 0 && bigTeam2Score > 0) {team2Score = limit -1;bigTeam2Score--;}
        else if (team2Score > 0) {team2Score--;}
        else if (bigTeam2Score > 0) {bigTeam2Score--;}
        team1player1own--;
        team1Score = tmpScore1;
        
      }
      enableUndo(1);
      refreshScores();
    }

    function oddScoreTeam1Player2() {
      if (undo) {
        team2Score++;
        team1player2own++;
        if(team2Score == limit) {
          getScores();
          team2Score = 0;
          team1Score = 0;
          bigTeam2Score++;
        }
      }
      else {
        if (team2Score == 0 && bigTeam2Score > 0) {team2Score = limit -1; bigTeam2Score--;}
        else if (team2Score > 0) {team2Score--;}
        else if (bigTeam2Score > 0) {bigTeam2Score--;}
        team1player2own--;
        team1Score = tmpScore1;
      }
      enableUndo(2);
      refreshScores();
    }

    function oddScoreTeam2Player1() {
      if (undo) {
        team1Score++;
        team2player1own++;
        if(team1Score == limit) {
          getScores();
          team1Score = 0;
          team2Score = 0;
          bigTeam1Score++;
        }
      }
      else {
        if (team1Score == 0 && bigTeam1Score > 0) {team1Score = limit -1; bigTeam1Score--;}
        else if (team1Score > 0) {team1Score--;}
        else if (bigTeam1Score > 0) {bigTeam1Score--;}
        team2player1own--;
        team2Score = tmpScore2;
      }
      enableUndo(3);
      refreshScores();
    }

    function oddScoreTeam2Player2() {
      if (undo) {
        team1Score++;
        team2player2own++;
        if(team1Score == limit) {
          getScores();
          team1Score = 0;
          team2Score = 0;
          bigTeam1Score++;
        }
      }
      else {
        if (team1Score == 0 && bigTeam1Score > 0) {team1Score = limit -1; bigTeam1Score--;}
        else if (team1Score > 0) {team1Score--;}
        else if (bigTeam1Score > 0) {bigTeam1Score--;}
        team2player2own--;
        team2Score = tmpScore2;
      }
      enableUndo(4);
      refreshScores();
    }

    function addScoreTeam1Player1() {
      if (undo) {
        team1Score++;
        team1player1score++;
        if (team1Score == limit) {
            getScores();
            team1Score = 0;
            team2Score = 0;
            bigTeam1Score++;
        }
      }
      else {
        if (team1Score == 0 && bigTeam1Score > 0) {team1Score = limit -1;bigTeam1Score--;}
        else if (team1Score > 0) {team1Score--;}
        else if (bigTeam1Score > 0) {bigTeam1Score--;}
        team1player1score--;
        team2Score = tmpScore2;
      }
      enableUndo(5);
      refreshScores();
    }

    function addScoreTeam1Player2() {
      if (undo) {
        team1Score++;
        team1player2score++;
        if (team1Score == limit) {
            getScores();
            team1Score = 0;
            team2Score = 0;   
            bigTeam1Score++;
        }
      }
      else {
        if (team1Score == 0 && bigTeam1Score > 0) {team1Score = limit -1;bigTeam1Score--;}
        else if (team1Score > 0) {team1Score--;}
        else if (bigTeam1Score > 0) {bigTeam1Score--;}
        team1player2score--;
        team2Score = tmpScore2;
      }
      enableUndo(6);
      refreshScores();
    }

    function addScoreTeam2Player1() {
      if (undo) {
        team2Score++;
        team2player1score++;
        if (team2Score == limit) {
            getScores();
            team2Score = 0;
            team1Score = 0;
            bigTeam2Score++;
        }
      }
      else {
        if (team2Score == 0 && bigTeam2Score > 0) {team2Score = limit -1;bigTeam2Score--;}
        else if (team2Score > 0) {team2Score--;}
        else if (bigTeam2Score > 0) {bigTeam2Score--;}
        team2player1score--;
        team1Score = tmpScore1;
      }
      enableUndo(7);
      refreshScores();
    }

    function addScoreTeam2Player2() {
      if (undo) {
        team2Score++;
        team2player2score++;
        if (team2Score == limit) {
            getScores();
            team2Score = 0;
            team1Score = 0;
            bigTeam2Score++;
        }
      }        
      else {
        if (team2Score == 0 && bigTeam2Score > 0) {team2Score = limit -1;bigTeam2Score--;}
        else if (team2Score > 0) {team2Score--;}
        else if (bigTeam2Score > 0) {bigTeam2Score--;}
        team2player2score--;
        team1Score = tmpScore1;
      }
      enableUndo(8);
      refreshScores();
    }
    
    function refreshScores() {
      document.getElementById('score_team1_player1').value = team1player1score;
      document.getElementById('own_team1_player1').value = team1player1own;
      document.getElementById('score_team1_player2').value = team1player2score;
      document.getElementById('own_team1_player2').value = team1player2own;

      document.getElementById('score_team2_player1').value = team2player1score;
      document.getElementById('own_team2_player1').value = team2player1own;
      document.getElementById('score_team2_player2').value = team2player2score;
      document.getElementById('own_team2_player2').value = team2player2own;

      document.getElementById('score_team1').value = team1Score;
      document.getElementById('score_team2').value = team2Score;
      document.getElementById('big_score_team1').value = bigTeam1Score;
      document.getElementById('big_score_team2').value = bigTeam2Score;
    }

    function getScores() {
      tmpScore1 = document.getElementById('score_team1').value;
      tmpScore2 = document.getElementById('score_team2').value;
    }

  </script>

</body>
</html>