<html>
<head>
    <title>{% block title %}{% endblock %} - SkySoccer webpage.</title>
    <link rel="stylesheet" href="{{url("skysoccer:static/style.css")}}" type="text/css" />
</head>
<body>
<h1>SkySoccer</h1>
{% block login %}{% endblock %} 
<form name="input" method="post">
Name: <input type="text" name="name"><br>
Surname: <input type="text" name="surname"><br>
<input type="submit" value="Submit" name="submit">
</form>

<table border='1' width="800px">

    <tr>
        <td>Top10 graczy: </td>
        <td>Ostatnie mecze: </td>
        <td>Najlepsze drużyny: </td>
    </tr>
    <tr>
        <td>{% block players %}{% endblock %}</td>
        <td>{% block games %}{% endblock %}</td>
        <td>{% block teams %}{% endblock %}</td>
    </tr>
    <tr>
        <td>Ilość graczy:</td>
        <td>{% block players_count %}{% endblock %}</td>
    </tr>
    <tr>
        <td>Ilość meczy:</td>
        <td>{% block games_count %}{% endblock %}</td>
    </tr>
</table>

{% block footer %}{% endblock %}
</body>
</html>
