  <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>SkySoccer - {% block title %}{% endblock %}</title>
<style>
  body {
            padding-top: 50px;
  }
  .form-game,
  .form-login {
    margin: 0px;
  }
  .input {
    margin: 5px 0px 0px 0px;
    width: 120px;
  }
  .login {
    color: #999;
    float: none;
    padding: 10px 15px 10px;
  }

</style>
<meta charset="utf-8">
<link rel="stylesheet" href="{{surl("skysoccer:static/bootstrap.css")}}" type="text/css">
</head>
<body>
  {% block menu %}
  {% endblock %}

  <div class="container">
    {% block plot %}
    {% endblock %}
    {% block statistic %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div> <!-- /container -->
</div>

</body>
</html>
