<!doctype html>
<html>
<head>
<title>SkySoccer - {% block title %}{% endblock %}</title>
<style>
  body {
            padding-top: 50px;
  }
  .form-game,
  .form-login {
    margin: 0px;
  }
  .input {
    margin: 5px 0px 0px 0px;
    width: 120px;
  }
  .login {
    color: #999;
    float: none;
    padding: 10px 15px 10px;
  }

</style>
<meta charset="utf-8">
<link rel="stylesheet" href="{{surl("skysoccer:static/bootstrap.css")}}" type="text/css" />
<link rel="stylesheet" href="{{surl("skysoccer:static/messi.min.css")}}" type="text/css" />
<script src="{{surl("skysoccer:static/jquery.js")}}"></script>
<script src="{{surl("skysoccer:static/messi.min.js")}}"></script>

</head>
<body>
  {% block menu %}
  {% endblock %}

  <div class="container-fluid">
    {% block plot %}
    {% endblock %}
    {% block statistic %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div> <!-- /container -->
  <script>
  $('#close-button').on('click', function() {
          new Messi("\{% block new_game %}{% endblock %}", {title: 'Nowa gra', center: false, viewport: {top: '90px', left: '120px'}});
        });
  </script>
</body>
</html>
